<div class= "container">
  <div class= "row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <h1>welcome to <i class="fa-solid fa-book"></i><strong>Bookers</strong>!! </h1>
       <p>In <i class="fa-solid fa-book"></i> Bookers,</p>
      <p>you can share and exchange your opinions , inpressions , and emotions</br>
       about various books!</p>
    </div>
  </div>

      <div class="btn-wrapper col-10 mx-auto w-75">
        <div class="row btn btn-info btn-sm btn-block mb-3 w-75">
          <%= link_to "Log in",new_user_session_path,{method: :get }%>
        </div>
        <div class="row btn btn-success btn-sm btn-block w-75">
          <%= link_to "Sign up",new_user_registration_path,{method: :get }%>
        </div>
      </div>
    </div>
  </div>





